n8n/wf_main.json
[
  {
    "id": "EjcUgpRvj4ZMXXlc",
    "name": "Контент завод (Python backend)",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "wfm-0-1",
        "name": "TG Webhook",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1280,
          0
        ],
        "webhookId": "a2c5ed0d-8e01-407e-b8c1-485ad3851ce2",
        "credentials": {
          "telegramApi": {
            "id": "TELEGRAM_BOT",
            "name": "Telegram Bot (Контент завод)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Парсер с state machine: idle/photos/names/confirm/running\nconst sd = $getWorkflowStaticData('global');\nconst update = $input.first().json;\nconst chatId = update.message?.chat?.id;\nconst text = update.message?.text;\n\nif (!chatId) {\n  return [{ json: { complete: false, prompt_text: null, chatId: null, products: [], photos: [], skip: true } }];\n}\n\nsd.sessions = sd.sessions || {};\nsd.sessions[chatId] = sd.sessions[chatId] || { phase: 'idle', photos: [], products: [], started_at: Date.now() };\nconst s = sd.sessions[chatId];\nconst trimmed = (text || '').trim();\n\nconst KB_IDLE = {\n  keyboard: [\n    [{text:'\\u{1F680} Новая партия'}],\n    [{text:'\\u{1F4F8} Этап 1: Фото'},{text:'\\u{1F4C2} Этап 2: Категории'}],\n    [{text:'\\u{270F}\\u{FE0F} Этап 3: Карточки'},{text:'\\u{1F69A} Этап 4: Заливка'}],\n    [{text:'\\u{1F4CA} Статус'},{text:'\\u{2139}\\u{FE0F} Помощь'}]\n  ],\n  resize_keyboard: true, is_persistent: true\n};\nconst KB_PHOTOS = {\n  keyboard: [\n    [{text:'\\u{2705} Перейти к названиям'}],\n    [{text:'\\u{1F4CA} Статус'},{text:'\\u{2139}\\u{FE0F} Помощь'}],\n    [{text:'\\u{1F504} Сбросить'}]\n  ],\n  resize_keyboard: true, is_persistent: true\n};\nconst KB_NAMES = {\n  keyboard: [\n    [{text:'\\u{1F504} Сбросить'},{text:'\\u{2139}\\u{FE0F} Помощь'}]\n  ],\n  resize_keyboard: true, is_persistent: true\n};\nconst KB_CONFIRM = {\n  keyboard: [\n    [{text:'\\u{1F680} Генерация'},{text:'\\u{274C} Отмена'}]\n  ],\n  resize_keyboard: true, is_persistent: true\n};\n\nfunction reply(textMsg, kb) {\n  return [{ json: {\n    complete: false, chatId, products: [], photos: [],\n    prompt_text: textMsg, skip: false, keyboard: kb\n  }}];\n}\nfunction summary(s) {\n  if (!s.products.length) return '_список пуст_';\n  return s.products.map((p, i) => `${i+1}) ${p.name} \\`${p.sku}\\``).join('\\n');\n}\n\n// Универсальные команды (работают в любой фазе)\nif (trimmed === '/reset' || trimmed === '\\u{1F504} Сбросить' || trimmed === '\\u{274C} Отмена') {\n  sd.sessions[chatId] = { phase: 'idle', photos: [], products: [], started_at: Date.now() };\n  return reply('\\u{1F9F9} *Сессия сброшена.* Жми «🚀 Новая партия» для запуска.', KB_IDLE);\n}\nif (trimmed === '/help' || trimmed === '\\u{2139}\\u{FE0F} Помощь') {\n  return reply(\n    '*Помощь.*\\n\\n' +\n    'Сценарий:\\n' +\n    '1) Жми «🚀 Новая партия»\\n' +\n    '2) Кидай фото товаров — *по одному*. После каждого пишу «фото N принято».\\n' +\n    '3) Когда все фото загружены — жми «✅ Перейти к названиям».\\n' +\n    '4) Для каждого фото пиши `Название, артикул` (по одной строке за раз).\\n' +\n    '5) После всех названий покажу свод. Жми «🚀 Генерация» для старта или «❌ Отмена» для сброса.\\n\\n' +\n    'Команды: `/reset` `/status` `/help`',\n    s.phase === 'photos' ? KB_PHOTOS : (s.phase === 'names' ? KB_NAMES : (s.phase === 'confirm' ? KB_CONFIRM : KB_IDLE))\n  );\n}\nif (trimmed === '/status' || trimmed === '\\u{1F4CA} Статус') {\n  const fazaText = ({\n    'idle':'_ожидание (жми Новая партия)_',\n    'photos':'*приём фото*',\n    'names':'*приём названий*',\n    'confirm':'*ожидание подтверждения*',\n    'running':'*пайплайн выполняется*'\n  })[s.phase] || s.phase;\n  return reply(\n    `*Статус сессии:*\\n` +\n    `• Фаза: ${fazaText}\\n` +\n    `• Фото принято: *${s.photos.length}*\\n` +\n    `• Названий принято: *${s.products.length}*\\n\\n` +\n    summary(s),\n    s.phase === 'photos' ? KB_PHOTOS : (s.phase === 'names' ? KB_NAMES : (s.phase === 'confirm' ? KB_CONFIRM : KB_IDLE))\n  );\n}\n\n// Info-кнопки этапов (работают в idle, иначе игнор)\nif (trimmed === '\\u{1F4F8} Этап 1: Фото') {\n  return reply('\\u{1F4F8} *Этап 1 — Генерация фото (ТЗ §3).*\\n\\nДля каждого товара 4 фото 3:4 через kie.ai gpt-image-2-i2i:\\n• Главное (бренд + категория + 2-3 преимущества + плашка)\\n• Набор 2 шт (тот же стиль)\\n• Набор 3 шт (тот же стиль)\\n• Доп.фото — инфографика\\n\\nДоп.фото идёт во *все 3 SKU*. Хранилище: Yandex Object Storage.', KB_IDLE);\n}\nif (trimmed === '\\u{1F4C2} Этап 2: Категории') {\n  return reply('\\u{1F4C2} *Этап 2 — Категории (ТЗ §4).*\\n\\nПодбор категории Ozon+WB через LLM gpt-5-2 + дерево категорий маркетплейсов. Скачивание Excel-шаблона Ozon (1 на категорию). Считывание справочников полей.', KB_IDLE);\n}\nif (trimmed === '\\u{270F}\\u{FE0F} Этап 3: Карточки') {\n  return reply('\\u{270F}\\u{FE0F} *Этап 3 — Заполнение (ТЗ §5).*\\n\\n• 3 SKU/товар (одиночка, x2, x3)\\n• Габариты +1 см если данные не точные\\n• Названия Ozon: без дефиса, наборам префикс\\n• WB: краткое без бренда, полное с брендом, ≤60\\n• Состав WB ≤100\\n• Аннотация Ozon ≥6 предложений\\n• НДС 22%, штрихкоды пусто\\n• Справочники: только из перечня; мультивыбор через `;`', KB_IDLE);\n}\nif (trimmed === '\\u{1F69A} Этап 4: Заливка') {\n  return reply('\\u{1F69A} *Этап 4 — Заливка через API (ТЗ §6).*\\n\\n• Ozon: `POST /v3/product/import` + `/import/info`\\n• WB: `POST /content/v2/cards/upload` + `/upload/list`\\n\\nОшибка одного SKU не валит партию. В конце Markdown-отчёт.', KB_IDLE);\n}\n\n// === STATE MACHINE ===\n// idle -> photos\nif (trimmed === '/start' || trimmed === '\\u{1F680} Новая партия') {\n  s.phase = 'photos';\n  s.photos = []; s.products = [];\n  return reply(\n    '\\u{1F44B} *Контент-завод. Новая партия.*\\n\\n' +\n    'Кидай фото товаров *по одному*. После каждого фото я отвечу что принял.\\n' +\n    'Когда все фото загружены — жми «✅ Перейти к названиям».',\n    KB_PHOTOS\n  );\n}\n\n// PHASE: photos\nif (s.phase === 'photos') {\n  if (update.message?.photo?.length) {\n    const biggest = update.message.photo[update.message.photo.length - 1];\n    s.photos.push({ file_id: biggest.file_id, idx: s.photos.length });\n    return reply(\n      `\\u{1F4F8} *Фото ${s.photos.length} принято.*\\n\\n` +\n      `Пришли следующее фото или жми «✅ Перейти к названиям» (фото нельзя будет добавить позже).`,\n      KB_PHOTOS\n    );\n  }\n  if (trimmed === '\\u{2705} Перейти к названиям') {\n    if (s.photos.length === 0) {\n      return reply('Сначала пришли хотя бы одно фото.', KB_PHOTOS);\n    }\n    if (s.photos.length > 10) {\n      return reply(`Максимум 10 товаров за партию. У тебя ${s.photos.length} фото — слишком много. Жми «🔄 Сбросить» и начни заново.`, KB_PHOTOS);\n    }\n    s.phase = 'names';\n    s.products = [];\n    return reply(\n      `\\u{2705} *Принято ${s.photos.length} фото.*\\n\\n` +\n      `Теперь пришли название и артикул для *фото №1*.\\n` +\n      `Формат: \\`Название, артикул\\` (через запятую).`,\n      KB_NAMES\n    );\n  }\n  if (text) {\n    return reply('Сейчас фаза *приёма фото*. Пришли фотографию или жми «✅ Перейти к названиям».', KB_PHOTOS);\n  }\n  return reply('Жду фото.', KB_PHOTOS);\n}\n\n// PHASE: names\nif (s.phase === 'names') {\n  if (update.message?.photo?.length) {\n    return reply('Сейчас фаза *приёма названий*. Фото добавлять нельзя. Если ошибся — жми «🔄 Сбросить».', KB_NAMES);\n  }\n  if (text) {\n    const parts = text.split(/[,;\\t]/).map(x => (x || '').trim()).filter(Boolean);\n    if (parts.length < 2) {\n      return reply('Неверный формат. Напиши: `Название, артикул` (через запятую). Например: `Кофе зерновой Арабика 250г, COF-001`', KB_NAMES);\n    }\n    const name = parts.slice(0, -1).join(', '); // если в названии есть запятые — собираем обратно\n    const sku = parts[parts.length - 1];\n    s.products.push({ name, sku, idx: s.products.length });\n    const next = s.products.length;\n    if (next < s.photos.length) {\n      return reply(\n        `\\u{2714}\\u{FE0F} *Фото ${next}:* ${name} \\`${sku}\\`\\n\\n` +\n        `Теперь название+артикул для *фото №${next + 1}*:`,\n        KB_NAMES\n      );\n    } else {\n      // Все названия введены — переход к confirm\n      s.phase = 'confirm';\n      return reply(\n        '\\u{1F4DD} *Партия готова к генерации:*\\n\\n' +\n        s.products.map((p, i) => `${i+1}) ${p.name} \\`${p.sku}\\``).join('\\n') +\n        '\\n\\nВсего: *' + s.products.length + ' товаров* × 4 фото = *' + (s.products.length * 4) + ' изображений*.\\n\\n' +\n        'Жми «🚀 Генерация» чтобы запустить пайплайн (~3-5 мин на товар).\\n' +\n        'Или «❌ Отмена» чтобы сбросить.',\n        KB_CONFIRM\n      );\n    }\n  }\n  return reply('Жду название+артикул.', KB_NAMES);\n}\n\n// PHASE: confirm\nif (s.phase === 'confirm') {\n  if (trimmed === '\\u{1F680} Генерация') {\n    // Старт пайплайна!\n    s.phase = 'running';\n    const products = s.products.map((p, i) => ({\n      idx: i, sku: p.sku, name: p.name,\n      photo: { file_id: s.photos[i].file_id, tg_file_path: null },\n      brand: null, dims: null, weight: null\n    }));\n    const out_products = products;\n    // очищаем состояние\n    sd.sessions[chatId] = { phase: 'idle', photos: [], products: [], started_at: Date.now() };\n    return [{ json: {\n      complete: true, chatId,\n      products: out_products,\n      photos: s.photos,\n      skip: false, keyboard: KB_IDLE,\n      prompt_text: null\n    }}];\n  }\n  if (trimmed === '\\u{274C} Отмена') {\n    sd.sessions[chatId] = { phase: 'idle', photos: [], products: [], started_at: Date.now() };\n    return reply('\\u{274C} *Отменено.* Жми «🚀 Новая партия» для нового запуска.', KB_IDLE);\n  }\n  return reply('Жми «🚀 Генерация» или «❌ Отмена».', KB_CONFIRM);\n}\n\n// PHASE: running — игнор всего\nif (s.phase === 'running') {\n  return reply('\\u{23F3} Пайплайн уже выполняется. Жди отчёт. Если хочешь прервать — жми «🔄 Сбросить» (но это не остановит уже запущенные API-вызовы).',\n    {\n      keyboard: [[{text:'\\u{1F504} Сбросить'},{text:'\\u{1F4CA} Статус'}]],\n      resize_keyboard: true, is_persistent: true\n    }\n  );\n}\n\n// fallback\nreturn reply('Не понял. Жми «ℹ️ Помощь».', KB_IDLE);\n"
        },
        "id": "wfm-0-2",
        "name": "Код: накопить и распарсить вход",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-skip",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wfm-0-2b",
        "name": "IF: не служебное сообщение?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -720,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-complete",
                "leftValue": "={{ $json.complete }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wfm-0-3",
        "name": "IF: партия собрана?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -448,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot{{ $env.TG_BOT_TOKEN }}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": {{ JSON.stringify($json.prompt_text || 'Жду список товаров и фото.') }},\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {{ JSON.stringify($json.keyboard) }}\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "wfm-0-4",
        "name": "Telegram: запрос недостающих данных",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          208
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 3
      },
      {
        "parameters": {
          "jsCode": "// 0.5 — Сборка канонического batch для Модуля 1\nconst data = $input.first().json;\n\nconst batch = {\n  batch_id: `${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`,\n  chatId: data.chatId,\n  products: data.products.map((p, i) => ({\n    idx: i,\n    sku: p.sku,\n    name: p.name,\n    photo: { file_id: data.photos[i]?.file_id || null, tg_file_path: null },\n    brand: null,\n    dims: null,\n    weight: null\n  })),\n  created_at: new Date().toISOString()\n};\n\nreturn [{ json: { batch } }];"
        },
        "id": "wfm-0-5",
        "name": "Set: собрать batch",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          -96
        ]
      },
      {
        "parameters": {},
        "id": "wfm-0-99-trig",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -1280,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "// 0.99 — Подготовка текста критической ошибки (без $env)\nconst err = $input.first().json;\nconst exec = err.execution || {};\nconst wf = err.workflow || {};\nconst e = err.execution?.error || err.error || {};\nconst msg = (e.message || JSON.stringify(e) || 'неизвестная ошибка').toString().slice(0, 800);\nconst nodeName = e.node?.name || '—';\nconst stack = (e.stack || '').toString().slice(0, 300);\nconst chatId = err.execution?.input?.chatId\n             || err.execution?.input?.batch?.chatId\n             || null;\nreturn [{ json: {\n  chatId,\n  text: `❌ *Ошибка в воркфлоу* \\`${wf.name || ''}\\`\\nНода: \\`${nodeName}\\`\\n\\n${msg}\\n\\n${stack}`\n}}];\n"
        },
        "id": "wfm-0-99-prep",
        "name": "Код: текст ошибки",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1008,
          608
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-chat",
                "leftValue": "={{ $json.chatId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wfm-0-99-if",
        "name": "IF: есть chatId?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -720,
          608
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "wfm-0-99",
        "name": "Telegram: критическая ошибка",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -448,
          608
        ],
        "webhookId": "fde738ce-bdaa-4ed6-ac51-6049e5b4dd12",
        "credentials": {
          "telegramApi": {
            "id": "TELEGRAM_BOT",
            "name": "Telegram Bot (Контент завод)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Преобразуем batch в формат для Python /api/run\nconst batch = $input.first().json.batch;\nconst products = (batch.products || []).map((p, i) => ({\n  idx: typeof p.idx === 'number' ? p.idx : i,\n  sku: p.sku,\n  name: p.name,\n  tg_file_id: p.photo?.file_id || null,\n  brand: p.brand || null,\n}));\nreturn [{ json: {\n  batch_id: batch.batch_id,\n  chat_id: batch.chatId,\n  products\n}}];\n"
        },
        "id": "wfm_prep_payload",
        "name": "Код: payload для Python",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          120,
          -100
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CZ_BACKEND_URL || 'http://host.docker.internal:8000' }}/api/run",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Internal-Token",
                "value": "={{ $env.INTERNAL_TOKEN || '' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "wfm_http_run",
        "name": "HTTP: вызов Python /api/run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          -100
        ],
        "onError": "stopWorkflow",
        "retryOnFail": false,
        "maxTries": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $env.TG_BOT_TOKEN }}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"chat_id\": {{ $('Set: собрать batch').first().json.batch.chatId }},\n  \"text\": \"🚀 *Запускаю обработку партии.* Прогресс пришлю отдельными сообщениями.\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\"keyboard\": [[{\"text\": \"🚀 Новая партия\"}], [{\"text\": \"📸 Этап 1: Фото\"}, {\"text\": \"📂 Этап 2: Категории\"}], [{\"text\": \"✏️ Этап 3: Карточки\"}, {\"text\": \"🚚 Этап 4: Заливка\"}], [{\"text\": \"📊 Статус\"}, {\"text\": \"ℹ️ Помощь\"}]], \"resize_keyboard\": true, \"is_persistent\": true}\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "wfm_tg_launch",
        "name": "Telegram: 🚀 Запускаю",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          -100
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 3
      }
    ],
    "connections": {
      "Код: накопить и распарсить вход": {
        "main": [
          [
            {
              "node": "IF: не служебное сообщение?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: не служебное сообщение?": {
        "main": [
          [
            {
              "node": "IF: партия собрана?",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "IF: партия собрана?": {
        "main": [
          [
            {
              "node": "Set: собрать batch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Telegram: запрос недостающих данных",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Код: текст ошибки",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Код: текст ошибки": {
        "main": [
          [
            {
              "node": "IF: есть chatId?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: есть chatId?": {
        "main": [
          [
            {
              "node": "Telegram: критическая ошибка",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "TG Webhook": {
        "main": [
          [
            {
              "node": "Код: накопить и распарсить вход",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: собрать batch": {
        "main": [
          [
            {
              "node": "Код: payload для Python",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Код: payload для Python": {
        "main": [
          [
            {
              "node": "HTTP: вызов Python /api/run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: вызов Python /api/run": {
        "main": [
          [
            {
              "node": "Telegram: 🚀 Запускаю",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "saveExecutionProgress": true,
      "saveManualExecutions": true,
      "timezone": "Europe/Moscow",
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "pinData": {},
    "tags": []
  }
]